@model ResourceByIdViewModel<CommentWithNicknameModel>
<link href="~/css/ResourceById.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="/signalr/hubs"></script>
<div class="sec-box container">
    <section class="first-section">
        <div>
            <h2>@Model.Resource.Name</h2>
            <img class="resource-pic" src="@Url.Content(Model.Resource.ImageName)" alt="Image" />
            <p>@Model.Resource.LongDescription</p>
            <a href="@Model.Resource.Link">Перейти на ресурс</a>
        </div>
    </section>
    <section class="second-sec">
        <div class="send-comments">
            <input type="text" id="comment-text" class="comment-text">
            <div><button class="comment-button" id="comment-button">Добавить комментарий</button></div>
        </div>
        <input type="hidden" id="resourceId" value="@Model.Resource.Id">
        <div class="comments" id="comments">
            @foreach (var x in Model.ResourceCommentsWithNickname)
            {
                <div class="comment">
                    <div class="comment-head">
                        <h3>@x.Nickname</h3>
                        <span>@x.CreatedAt</span>
                    </div>
                    <div><span>@x.CommentText</span></div>
                </div>
            }
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/ResourceById.js"></script>
}